@import url('https://martinz64.github.io/remove-nitro/better_sessions.css');
@import url('https://ImSwordKing.github.io/DiscordStuff/NoNitroThanks/main.css');
@import url('https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css');

@import url('https://martinz64.github.io/remove-nitro/main.css');
@import url('https://martinz64.github.io/remove-nitro/remove_boosting.css');
@import url('https://martinz64.github.io/remove-nitro/remove_profile_colors.css');
@import url('https://martinz64.github.io/remove-nitro/remove_emoji_upsell.css');
@import url('https://martinz64.github.io/remove-nitro/remove_avatar_decoration.css');
@import url('https://martinz64.github.io/remove-nitro/remove_super_reactions.css');


// remove profile themes
* {
    --profile-gradient-primary-color: var(--background-secondary-alt)!important;
    --profile-gradient-secondary-color: var(--background-secondary-alt)!important;
    --profile-gradient-overlay-color: transparent!important;
    --profile-gradient-button-color: var(--button-secondary-background)!important;
    --profile-avatar-border-color: var(--background-secondary-alt)!important;
    --profile-message-input-border-color: var(--background-modifier-accent)!important;
    --profile-body-background-color: var(--background-floating)!important;
    --profile-body-background-hover: var(--background-modifier-hover)!important;
    --profile-body-divider-color: var(--background-modifier-accent)!important;
    --profile-role-pill-background-color: var(--background-secondary-alt)!important;
    --profile-role-pill-border-color: var(--interactive-normal)!important;
}
.userProfileOuterThemed-2BgJCM {
    padding: 0px!important;
}